@import "../../../common/styles/scss/astm_variables";
.cover-img {
  overflow: hidden;
  background-image: url(../../../assets2/images/cover-bg.svg);
  background-size: cover;
  background-position: center center;
}
.form__container {
  max-width: 500px;
  width: 100%;
  padding: 0px 1.5rem;
  .form__heading {
    font-size: $font-size-48;
    font-weight: $font-weight-400;
    letter-spacing: -0.031rem;
    color: $color-system-black;
    margin-top: 0px;
    margin-bottom: 5rem;
    line-height: normal;
    text-align: center;
  }
  .action__bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    align-items: center;
  }
  .form-group {
    margin-bottom: 1.25rem;
    position: relative;
    label {
      font-size: $font-size-14;
      color: $color-system-black;
    }
    .is-invalid,
    .invalid-feedback {
      color: $color-brand-red-70;
      &.form-control {
        color: $color-system-black;
      }
    }
    .input-group-append {
      bottom: auto;
      top: 2.7rem;
    }
  }
  .action__bar {
      .astm-btn {
        padding: 0.56rem 2.25rem;
        font-weight: $font-weight-500;
        font-size: $font-size-14;
        letter-spacing: 0.078rem;
        color: $color-system-black;
      }
  }
}
@media (max-width: 900px) {
  .form__container {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
  .form__heading {
    margin-bottom: 2rem;
  }
}
@media (max-width: 568px) {
  .form__heading {
    font-size: $font-size-24;
  }
}
